<%- include ('head.ejs'); -%>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Doctor</th>
        <th scope="col">Patient</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if (visits.length === 0) { %>
        <tr>
            <td colspan="5">No visits found</td>
        </tr>
    <% } %>
    <% visits.forEach(function(visit) { %>
        <tr>
            <td><%= visit.date %></td>
            <td><%= doctors.find(doctor => doctor.id === visit.doctor_id).name %></td>
            <td><%= patients.find(patient => patient.id === visit.patient_id).name %></td>
            <td><%= statuses.find(status => status.id === visit.status_id).name %></td>
            <td>
                <a href="/api/v1/visits/<%= visit.id %>" class="btn btn-primary">Details</a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>


<%- include ('footer.ejs'); -%>